@font-face {
    font-family: "FantasqueSansMono";
    src: url('../fonts/FantasqueSansMono-Regular.eot');
    src: url('../fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FantasqueSansMono-Regular.woff') format('woff');
}

@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeue.eot');
    src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue.woff') format('woff');
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLight.woff') format('woff');
}

@font-face {
    font-family: "Source Sans Pro ExtraLight";
    src: url('../fonts/ssp-ex.eot');
    src: url('../fonts/ssp-ex.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ssp-ex.woff') format('woff');
}

@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url('../fonts/ssp-sb.eot');
    src: url('../fonts/ssp-sb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ssp-sb.woff') format('woff');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/ssp.eot');
    src: url('../fonts/ssp.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ssp.woff') format('woff');
}

html { font-size: 100%; }

body {
    min-width: 320px;
    margin: 0;
    color: #404040;
    background-color: #fff;
}

.banner {
    font-size: 3.33rem;
    text-align: center;
    animation: introb 0.3s both;
    animation-delay: 0.2s;
    overflow: hidden;
}

.banner .title {
    padding: 20px 50px;
    color: #fff;
    display: inline-block;
    margin: auto;
}

.banner .title .upper {
}

.banner .title .lower {
    font-size: 1.44rem;
    font-family: "Source Sans Pro ExtraLight";
    text-align: center;
}

.banner .title span.decor {
    position: relative;
    top: -0.08em; /* baseline fix */
    font-family: "FantasqueSansMono";
    color: #c5abb6;
}

.banner .title span.first {
    font-family: "Source Sans Pro ExtraLight";
}

.banner .title span.last {
    font-family: "Source Sans Pro";
}

.banner {
    background-color: #5f4751;
    -moz-box-shadow:    0px 2px 3px 3px #aaa;
    -webkit-box-shadow: 0px 2px 3px 3px #aaa;
    box-shadow:         0px 2px 3px 3px #aaa;
}

.banner .title span.name {
    font-size: 1.16rem;
    font-family: "FantasqueSansMono";
    color: #c5abb6;
    vertical-align: baseline;
    position: relative;
    top: -2em;
}

.container {
    font-family: "Helvetica Neue";
    font-size: 1.1rem;
    padding: 20px 50px;
    max-width: 48rem;
    margin: auto;
    line-height: 1.5em;
    animation: intro 0.6s both;
    animation-delay: 0.2s;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes introb {
    0% {
        height: 0;
    }
    100% {
        height: 8.44rem;
    }
}

.avatar {
    float: left;
    width: 200px;
    margin: 0 1.5rem 0 0;
    -webkit-box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.floatclear {
    clear: both;
}

a {
    text-decoration: none;
    color: #824e64;
}

.comment {
    color: #4a333d;
}

.special {
    color: #ffffff;
}

.special:hover {
    color: #a08490;
}

h1 {
    font-family: "Source Sans Pro Semibold";
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

ul > li {
    list-style: none;
}

ul > li:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 10px;
    float: left;
    margin-left: -17px;
    color: #824e64;
}

ul > li a {
    word-break: break-all;
}

span.paper-title {
    font-size: 1.1rem;
    font-family: "Source Sans Pro Semibold";
    font-weight: 500;
}

span.author-list {
    font-size: 1.1rem;
    color: #a08490;
}

span.author-list .author-me {
    font-style: italic;
}

table td.contact-key {
    text-align: right;
    vertical-align: top;
    padding-right: 1ex;
    font-weight: 700;
}

table td.contact-val {
    text-align: left;
    vertical-align: top;
}

table.contact-table {
    font-size: 1.1rem;
    border-spacing: 0;
    border: none;
    padding: 0;
}

.section-indent {
    padding-left: 40px;
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
}

.section-indent:last-child {
    margin-bottom: 0;
}

.container .hl1 {
    color: #fda333;
}

.container .hl2 {
    color: #d95b43;
}

.container .hl3 {
    color: #c02942;
}

.container .hl4 {
    color: #53777a;
}

ul.social > li:before {
    font-size: 1.1rem;
}

ul > li.cv:before {
    margin-left: -20px;
    content: "\f15b";
}
ul > li.github:before {
    font-family: "Font Awesome 5 Brands";
    margin-left: -22px;
    content: "\f09b";
}
ul > li.git:before {
    font-family: "Font Awesome 5 Brands";
    margin-left: -22px;
    content: "\f1d3";
}
ul > li.plain:before {
    content: "";
}
ul > li.plain {
    font-size: 1.1rem;
    margin-left: -22px;
}
ul > li.blog:before {
    margin-left: -22px;
    content: "\f781";
}
ul > li.email:before {
    margin-left: -22px;
    content: "\f0e0";
}
ul > li.sms:before {
    margin-left: -22px;
    content: "\f075";
}
ul > li.twitter:before {
    font-family: "Font Awesome 5 Brands";
    margin-left: -22px;
    content: "\f099";
}
ul > li.telegram:before {
    font-family: "Font Awesome 5 Brands";
    margin-left: -22px;
    content: "\f2c6";
}

/*! PocketGrid 1.1.0
 * Copyright 2013 Arnaud Leray
 * MIT License
 */
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix */
.block-group {
    *zoom: 1;
}
.block-group:before, .block-group:after {
    display: table;
    content: "";
    line-height: 0;
}
.block-group:after {
    clear: both;
}

.block-group {
    /* ul/li compatibility */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Nested grid */
.block-group > .block-group {
    clear: none;
    float: left;
    margin: 0 !important;
}

/* Default block */
.block {
    float: left;
    width: 100%;
}

.two-column {
    width: 45%;
    margin-right: 10%;
}

.social-section {
    margin-top: -1.1rem;
}

.social-section .two-column:last-child {
    margin-right: 0;
}

.container h1:first-child {
    margin-top: 1.1rem;
}

@media (max-width: 550px) {
    .banner {
        font-size: 48px;
    }

    .banner .title {
        padding: 10px 10px;
    }

    .banner .title span.name {
        font-size: 14px;
    }

    .banner .title .lower {
        font-size: 20px;
    }

    h1 {
        font-size: 1.4rem;
    }

    span.paper-title {
        font-size: 1rem;
    }

    span.author-list {
        font-size: 1rem;
    }

    .container {
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: 1rem;
    }

    .avatar {
        width: 250px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    @keyframes introb {
        0% {
            height: 0;
        }
        100% {
            height: 105px;
        }
    }

    .two-column {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .banner .title span.name {
        display: none;
    }
    @keyframes introb {
        0% {
            height: 0;
        }
        100% {
            height: 100px;
        }
    }
}
